<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Customers</h3>
<p>
    <a th:href="@{/customer/create}">Add new customer</a>
</p>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<table id="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dat : ${list}">
        <td th:text="${dat.getName()}"></td>
        <td th:text="${dat.getEmail()}"></td>
        <td th:text="${dat.getAddress()}"></td>
        <td><a th:href="@{/customer/edit(id=${dat.getId()})}">Edit</a></td>
        <td><a th:href="@{/customer/delete(id=${dat.getId()})}">Delete</a></td>
        <td><a th:href="@{/customer/view(id=${dat.getId()})}">View</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>